<h1 class="title">Brands</h1>

<%= render Bali::Link::Component.new(name: 'New brand', href: new_brand_path, modal: true, class: 'button is-primary') %>
<hr>

<%= turbo_frame_tag 'brands' do %>
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column">NAME</div>
  </div>

  <% @brands.each do |brand| %>
    <%= render brand %>
  <% end %>
<% end %>
